/* Общие настройки */
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	background-color: #f4f4f4;
}

/* Контейнер для аккордеона */
#accordionContainer {
	width: 100%;
	max-width: 450px;
	margin-top: 20px;
}

/* Дизайн категории */
.category {
	margin-bottom: 10px;
	padding-left: 10px;
}

/* Иконка для переключения (для открытия и закрытия аккордеона) */
.toggle-icon {
	cursor: pointer;
	margin-right: 5px;
	color: #5f5f66;
	font-weight: bold;
}

/* Скрытие иконки, если подкатегорий нет */
.toggle-icon.hidden {
	visibility: hidden;
}

/* Стиль для input (поля ввода) */
input {
	background-color: transparent;
}

/* Общие стили для кнопок */
button {
	padding: 5px 10px;
	margin-left: 5px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid #dadae6;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

/* Кнопка для добавления подкатегории */
.add-subcategory-btn {
	border: 1px solid #dadae6;
	background-color: rgba(105, 80, 243, 0.1);
	color: #6950f3;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: center;
	line-height: 1.2;
	padding: 6px;
	cursor: pointer;
}

.add-subcategory-btn:hover {
	background-color: rgb(105, 80, 243, 0.3);
}

/* Дизайн панели аккордеона */
.accordion {
	margin-top: 10px;
	padding-left: 20px;
	max-height: 0;
	overflow: hidden; /* Это предотвращает выход содержимого за пределы панели */
	opacity: 0;
	transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
}

/* Состояние аккордеона при открытии */
.accordion.open {
	max-height: 300px; /* Максимальная высота панели */
	overflow: auto; /* Добавляет скролл, если высота превышает максимально допустимую */
	opacity: 1;
	transition: max-height 0.5s ease-in, opacity 0.3s ease-in;
}

/* Дизайн категорий внутри аккордеона */
.accordion .category {
	margin-bottom: 5px;
}

/* Стиль кнопки удаления */
.delete-btn {
	background-color: transparent;
}

.delete-btn:hover {
	background-color: transparent;
	transform: scale(1.2); /* Увеличение кнопки при наведении */
}

/* Анимация для аккордеона при открытии и закрытии */
.accordion-enter {
	max-height: 0;
	opacity: 0;
	transform: scaleY(0.95);
	transition: all 300ms ease-out;
}

.accordion-enter-active {
	max-height: 1000px;
	opacity: 1;
	transform: scaleY(1);
}

.accordion-exit {
	max-height: 1000px;
	opacity: 1;
	transform: scaleY(1);
}

.accordion-exit-active {
	max-height: 0;
	opacity: 0;
	transform: scaleY(0.95);
	transition: all 300ms ease-in;
}

/* Контейнер для toggle-иконки и input */
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between; /* Максимальное пространство между элементами */
	gap: 10px; /* Промежуток между элементами */
	margin-bottom: 5px;
}

/* Стиль оборачивающего div для input и кнопки удаления */
.input-container {
	display: flex;
	align-items: center;
	border: 1px solid #dadae6;
	padding: 10px;
	border-radius: 5px;
	flex: 1;
	max-width: 100%; /* Boshlang'ich kenglik */
	transition: width 0.3s ease; /* Kenglik o'zgarishi uchun silliqlik */
}

/* Стиль для input внутри контейнера */
.input-container input {
	flex: 1; /* Занимает всю доступную ширину */
	border: none;
	outline: none;
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #1c1c21;
}

/* Стиль для кнопки удаления внутри контейнера */
.input-container .delete-btn {
	background: none;
	border: none;
	margin: 0;
	cursor: pointer;
}

.input-container .delete-btn img {
	width: 20px;
	height: 20px;
}

/* Стиль для поля ввода при фокусе */
.input-container input:focus {
	border: none;
	outline: none;
}

.input-container:focus-within {
	border-color: #007bff;
	box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
